<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name = "test-parameter">
    <test name = "Login to pass">
        <groups>
            <run>
                <include name = "A" />
            </run>
        </groups>
        <classes>
            <class
                    name = "ParametrizedGroups" />
        </classes>
    </test>
    <test name = "Login to fail">
        <groups>
            <run>
                <include name = "B" />
            </run>
        </groups>
        <classes>
            <class
                    name = "ParametrizedGroups" />
        </classes>
    </test>
</suite>